.gallery {
    max-width: 1244px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  
   padding-left: 10px;
   padding-right: 10px;
}

.galleryItemDesc {
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
}