.galleryItemDesc {
    padding: 8px 14px 0px;
display: flex;
justify-content: space-between;
border: 1px solid #a9a9a9;;

}

.cardSVG {
    width: 28px;
    height: 28px;
    color: #a9a9a9;
}

.cardSVG:hover,  
.cardSVG:focus {
    color: #4d4d4d;
}